{{!-- {{> header}} --}}

{{#> layout }}

    <table class="email-wrapper" width="100%" cellpadding="0" cellspacing="0" role="presentation">
      <tr>
        <td align="center">
          <table class="email-content" width="100%" cellpadding="0" cellspacing="0" role="presentation">
            {{!-- <tr>
              <td class="email-masthead">
                <a href="{{transaction.merchantDetail.merchantSite}}" class="f-fallback email-masthead_name">
                {{transaction.merchantDetail.merchantName}}
              </a>
              </td>
            </tr> --}}
            <!-- Email Body -->
            <tr>
              <td class="email-body" width="100%" cellpadding="0" cellspacing="0">
                <table class="email-body_inner" align="center" width="570" cellpadding="0" cellspacing="0" role="presentation">
                  <!-- Body content -->
                  <tr>
                    <td class="content-cell">
                      <div class="f-fallback">
                        <h1>Hi {{invoice.custName}},</h1>
                        <p>This is your payment receipt.</p>

                        <!-- Discount -->
                        <table class="discount" align="center" width="100%" cellpadding="0" cellspacing="0" role="presentation">
                          <tr>
                            <td align="center">
                              <h1 class="f-fallback discount_heading">Payment Success</h1>
                              <p class="f-fallback discount_body">Thanks for your support!</p>
                              <table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation">
                                <tr>
                                  <td align="center">
                                    <a href="https://live.blockcypher.com/btc/tx/{{transaction.callbackData.transaction_hash}}" class="f-fallback button button--green" target="_blank">View in Blockchain</a>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                        <table class="purchase" width="100%" cellpadding="0" cellspacing="0" role="presentation">
                          <tr>
                            <td>
                              <h3 style="white-space: nowrap;">INVOICE ID #</h3></td>
                            <td>
                              <h3 class="align-right">{{invoice.invoiceID}}</h3></td>
                          </tr>
                          <tr>
                            <td>
                              <h3 style="white-space: nowrap;">TERMINAL ID #</h3></td>
                            <td>
                              <h3 class="align-right">{{profile.profileId}}</h3></td>
                          </tr>
                          <tr>
                            <td>
                              <h3 style="white-space: nowrap;">TRANSACTION ID #</h3></td>
                            <td>
                              <h3 class="align-right">{{invoice.transactionId}}</h3></td>
                          </tr>
                          <tr>
                            <td>
                              <h3 style="white-space: nowrap;">TRANSACTION HASH #</h3></td>
                            <td>
                              <h3 class="align-right">{{transaction.callbackData.transaction_hash}}</h3></td>
                          </tr>
                          <tr>
                            <td colspan="2">
                              <table class="purchase_content" width="100%" cellpadding="0" cellspacing="0"> 

                                <tr>
                                  <td width="80%" class="purchase_item"><span class="f-fallback">Invoice Amount</span></td>
                                  <td class="align-right" width="20%" class="purchase_item"><span class="f-fallback">{{ToFixed invoice.amount}} {{currency}}</span></td>
                                </tr>
                                <tr>
                                  <td width="80%" class="purchase_item"><span class="f-fallback">Transaction Fee</span></td>
                                  <td class="align-right" width="20%" class="purchase_item"><span class="f-fallback">{{ToFixed invoice.b4uFee}} {{currency}}</span></td>
                                </tr>

                                <tr>
                                  <td width="80%" class="purchase_footer" valign="middle">
                                    <p class="f-fallback purchase_total purchase_total--label">Total</p>
                                  </td>
                                  <td width="20%" class="purchase_footer" valign="middle">
                                    <p class="f-fallback purchase_total">{{ToFixed invoice.totalAmount}} {{currency}}</p>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                        <p>Cheers,
                        <br>The {{transaction.merchantDetail.merchantName}} Team</p>
                        <p><img src="cid:merchant-logo" width="150" /></p>
                        <!-- Action -->
                        <table class="body-action" align="center" width="100%" cellpadding="0" cellspacing="0" role="presentation">
                          <tr>
                            <td align="center">
                              <table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation">
                                <tr>
                                  <td align="center">
                                    {{!-- <a href="" class="f-fallback button button--blue" target="_blank">Download as PDF</a> --}}
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                        <!-- Sub copy -->
                        {{!-- <table class="body-sub" role="presentation">
                          <tr>
                            <td>
                              <p class="f-fallback sub">Need a printable copy for your records?</strong> You can <a href="">download a PDF version</a>.</p>
                              <p class="f-fallback sub">Moved recently? Have a new credit card? You can easily <a href="">update your billing information</a>.</p>
                            </td>
                          </tr>
                        </table> --}}
                      </div>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>


{{/layout}}